/* Container for composing tweet */
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Container for the tweet button and character counter */
.bTC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee Inline', cursive;
}

/* Tweet button */
.tweetButton {
  color: #FFFFFF;
  background-color: #4056A1;
}

.tweetButton:hover {
  box-shadow: 2.5px 5px #273562; 
}

/* Text area */
#tweet-text {
  display: flex;
  justify-content: end;
  background: transparent;
  width: 600px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 5px solid #000000;
}

/* Changes the character counter to red */
.exceededCharCount {
  color: red;
}

/* Hides the error message */
.errorMessage {
  
}

/* Displays the error message */
.errorMessageTrue {
  color: red;
  font-size: larger;
  height: 40px;
  border-style: solid;
  border-color: rgb(255, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
