/* Reverse the list so that the newest tweet gets created at the top */
#tweets-container {
  display: flex;
  flex-direction: column-reverse;
}

/* Sets the container for the tweet */
.tweetsPost{
  border-style: solid;
  border-color: 5px solid black;
  width: 600px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 190px;
}

/* Creats shadow for the tweet box */
.tweetsPost:hover {
  box-shadow: 2px 6px;
}

/* User info avatar, name, handle */
.tweet-header {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userInfo {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}

.userFirstName {
  margin: 15px;
}

.tweetHandle {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 15px;
  color: rgba(66, 63, 63, 0.5);
}

.tweet-footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

/* A line on the tweet */
.underline { 
  border: 2px solid #000; width: 95%;
  margin: auto;
  margin-top: 15px;
}

.tweetText{ 
  margin-left: 20px;
  font-size: 15px;
}

.tweet-text-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bottom-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.postAge {
  margin-top: 5px;
  font-size: medium;
  margin-left: 25px;
}

/* Aligns the tweet icons */
.icon {
  font-size: 80%;
  margin-bottom: 90px;
  margin-top: 5px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
}

.fa-solid {
  margin-left: 5px;
  background: none;
}

/* Changes the icon's color when mouse hovers over */
.fa-solid:hover{
  color:#f8a100;
}

/* Desktop View */
@media only screen and (min-width: 1024px) {

/* Mouse-out transition effect on the tweet posts */
/* Effect animation from (https://codepen.io/argyleink/pen/poEjvpd) by Adam Argyle*/
.tweetsPost::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.tweetsPost:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.tweetsPost::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #c3cdee;
  z-index: -1;
  transition: transform .3s ease;
}

.tweetsPost {
  position: relative;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}

}